<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>City ranks</ion-title>
  </ion-navbar>
</ion-header>
<ion-card>
  <ion-card-header>
    Welcome to the after game layout
  </ion-card-header>
  <ion-card-content>
    Here is the list of the 5 best cities:
  </ion-card-content>
</ion-card>
<ion-content>
  <ion-list *ngFor="let item of cities; let cityIndex = index">
    <ion-row  *ngIf="cityIndex < 5">
        <ion-col width-25 text-center>
            {{item.point}}
        </ion-col>
        <ion-col width-25 text-center>
            {{item.name}}
        </ion-col>
        <ion-col width-25 text-center>
            {{item.x_coordinate}}
        </ion-col>
        <ion-col width-25 text-center>
            {{item.y_coordinate}}

        </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
