<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>City ranks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      The top 5 cities
    </ion-card-header>
    <ion-card-content>        
      <ion-list>
          <ion-row class="row header">
              <ion-col width-25 text-center class="rank">                
                  Rank
              </ion-col>
              <ion-col width-25 text-center>                
                Points
              </ion-col>
              <ion-col width-25 text-center>                
                City
              </ion-col>              
          </ion-row>
      </ion-list>
      <ion-list *ngFor="let item of cities; let cityIndex = index">                
        <ion-row *ngIf="cityIndex < 5">
            <ion-col width-25 text-center class="rank">
                {{cityIndex+1}}
            </ion-col>
            <ion-col width-25 text-center>
                {{item.point}}
            </ion-col>
            <ion-col width-25 text-center>
                {{nC.toFirstUpper(item.name)}}
            </ion-col>            
        </ion-row>
      </ion-list>  
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="selectedCity !== undefined">
    <ion-card-header>
      Your city's position
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let item of cities; let cityIndex = index">                
          <ion-row *ngIf="item.name == selectedCity">
            <ion-col width-25 text-center class="rank">
              {{cityIndex+1}}
            </ion-col>
            <ion-col width-25 text-center>
                {{item.point}}
            </ion-col>
            <ion-col width-25 text-center>
                {{nC.toFirstUpper(item.name)}}
            </ion-col>            
          </ion-row>
      </ion-list>  
    </ion-card-content>
  </ion-card>
</ion-content>
