<div class="col-md-6 col-md-offset-3">
  <h2 class = "text-center"> Welcome to the statistic page {{currentUser.username}}!</h2>
  <h3 class = "text-center">Best results from this citi:</h3>
  <div class = "text-center">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>score</th>
          <th>name</th>
          <th>x_cordinate</th>
          <th>y_cordinate</th>
        </tr>
      </thead>
      <tbody *ngFor="let city of cities; let cityIndex = index">
        <tr *ngIf="cityIndex < 5">
          <td> {{city.point}}</td>
          <td> {{city.name}}</td>
          <td> {{city.x_coordinate}}</td>
          <td> {{city.y_coordinate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center"> 
      <p><a class="btn btn-success btn-lg" [routerLink]="['/home']">back to menu</a></p>
  </div>
</div>
