<!DOCTYPE html>
<html lang="en">
  ...
</html>
<!--
<head>
    <link rel="stylesheet" href="/home.component.css">
</head>
-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<div class="container-fluid">
    <h1 class="text-center">Hi {{currentUser.username}}!</h1>
    <h2 class="text-center"><small> You logged in as a non admin user :) </small></h2>
    <p class="text-center">Lets deside what you want to do!</p>
    <div class="text-center"> 
        <p><a class="btn btn-success btn-lg" [routerLink]="['/statistic']">Statistic</a></p>
        <p><a class="btn btn-success btn-lg" [routerLink]="['/quizme']">Quiz me!</a></p>
        <p><a class="btn btn-primary btn-lg center-block" [routerLink]="['/login']">Logout</a></p>
    </div>
</div>
