<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Welcome to QuickQuiz!</h3>

  <p>
    On the mobile application you are collecting scores for your city! 
    Please allow to your mobile to identify your location, and then pick your city from the list below.
    If it is not listed then you can add it at the "New City" menu entry.
    Good luck!
  </p>
  <p *ngIf="gpsPos!==undefined">
    Your position is lat: {{gpsPos.x_coord}} , long: {{gpsPos.y_coord}}
  </p>
  <h3 *ngIf="selectedCity!==null"> Your selected city is: {{selectedCity}} </h3>
  <h3 *ngIf="nearbyCities!==undefined">Pick your city:</h3>
  
  <ion-list no-lines>
      <button ion-item *ngFor="let city of nearbyCities" (click)="itemSelected(city)">
        {{ city.name }}
      </button>
    </ion-list>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
