<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-selfmade">
      
      <a class="navbar-brand" [routerLink]="['/home']">
        <img height=40px src="assets/quiz-256.png" alt="QuizLogo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/statistic']">Statistic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/quiz']">Infinite Quiz</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/questions']">Quiz list</a>
            </li>
          <li class="nav-item" id="addNewQuiz">
            <a class="nav-link" [routerLink]="['/newquiz']">New quiz list</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                 <a class="nav-link" [routerLink]="['/login']">Logout</a>
            </li>
            </ul>
      </div>
    </nav>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
</div>

