
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Quiz me</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div align="center">
    <h3 *ngIf="quiz!==undefined">{{quiz.question}}</h3>
  </div>
  <ion-list>
    <ion-row>
      <ion-col width-25 text-center>
        <button ion-button (click)="checkAnswer('A')" *ngIf="quiz!==undefined">{{quiz.first_answer}}</button>
      </ion-col>
      <ion-col width-25 text-center>
        <button ion-button (click)="checkAnswer('B')" *ngIf="quiz!==undefined">{{quiz.second_answer}}</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25 text-center>
        <button ion-button (click)="checkAnswer('C')" *ngIf="quiz!==undefined">{{quiz.third_answer}}</button>
      </ion-col>
      <ion-col width-25 text-center>
        <button ion-button (click)="checkAnswer('D')" *ngIf="quiz!==undefined">{{quiz.fourth_answer}}</button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
